<html>
	<head>
		<title>New gossip</title>
	</head>
	<body>
		<h1>Crée un nouveau potin</h1>
		<p>Balance ton potin !</p>
		<form action='/gossips/new/' method='POST'>
		<p>Ton nom :<br>
			<input type="text" name="gossip_author"><br></p>
		<p>Ton potin :<br>
			<input type="text" name="gossip_content"><br></p>
			<input type="submit" name="submit" value="Envoyer">
		</form>
	</body>
</html>