<html>
  <head>
    <title>Les potins !</title>
  </head>
  <body>
    <h1>Voici le potin <%= id %></h1>
    <p>De :  <%= gossip[0] %></p>
    <p>Potin : <%= gossip[1] %></p>
    <p>Clique <a href="/gossips/<%= id %>/edit/">ici</a> si tu veux modifier ce potin.</p>
  </body>
</html>